:root {
  /* 🎨 Colors */
  --color-green: hsl(75, 94%, 57%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey7: hsl(0, 0%, 20%);
  --color-grey8:  hsl(0, 0%, 12%);
  --color-grey9: hsl(0, 0%, 8%);
  --font-primary: 'Inter', system-ui, sans-serif;
}