html{ font-size: 62.5%; }
body{
    background-color: #674baf;
}
.container{
    display: grid;
    grid-template-rows: auto 4fr 10rem;
    background: url(../images/bg-mobile.svg);
    background-size: cover;
    background-repeat: contain;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}
.container .header-logo{
    padding: 5rem 3rem;
}
.header-logo a img{
    max-width: 40%;
}
.principal{
    padding: 0 1.8rem;
    text-align: center;
    color: #fff;
    font-weight: 400;
}
.principal h1{
    font-size: 3.2rem;
    font-weight: 600;
}
.principal p{
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 2rem 0 5rem;
}
.principal .btn-sign{
    color: #674baf;
    background-color: #fff;
    border-radius: 3rem;
    padding: 2rem 8rem;
    transition: 0.3s;
}
.principal .btn-sign:hover{
    background-color: #e882e8;
    color: #fff;
}
.rodape, .rodape a i{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rodape a i{
    width: 3rem;
    height: 3rem;
}
.rodape a{
    margin: 0 1.5rem;
    padding: 1rem;
    border: 0.2rem solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 2.5rem;
    transition: 0.3s ease-in-out;
}
.rodape a:hover{
    color:#e882e8;
    border-color: #e882e8;
}
@media (min-width: 768px){
    .container{
        background: url(../images/bg-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .header-logo a img{
        max-width: 20rem;
    }
    .principal{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }
    .principal img{
        max-width: 45%;
    }
    .principal .descricao{
        text-align: left;
    }
    .principal .descricao h1{
        font-size: 4.2rem;
        max-width: 50rem;
    }
    .principal .descricao p{
        font-size: 2.5rem;
        max-width: 70rem;
    }
    .rodape{
        justify-content: flex-end;
        margin-right: 5rem;
    }
}