html{
    font-size: 62.5%;
}
body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--background-color);
}
.main-container, .container-advice{
    display: flex;
    align-items: center;
}
.main-container {
    justify-content: center;
    height: 100vh;
}
.container-advice {
    background-color: var(--advice-card-color);
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    max-width: 54rem;
    max-height: 34rem;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
}
.container-advice .title-advice{
    font-size: 1.3rem;
    letter-spacing: 0.4rem;
    color: var(--advice-dice-color);
}
.container-advice .text-advice{
    color: var(--text-color);
    font-size: 2.7rem;
    text-align: center;
    max-width: 44rem;
}
.container-advice .divider{
    padding-bottom: 4rem;
}
.container-advice .divider::after{
    content: url(../Image/pattern-divider-desktop.svg);
}
.container-advice .btn-advice{
    width: 7rem;
    height: 7rem;
    background-color: var(--advice-dice-color);
    border-radius: 50%;
    position: absolute;
    top: 30.5rem;
}
.container-advice .btn-advice::after{
    content: url(../Image/icon-dice.svg);
}
.container-advice .btn-advice:active{
    box-shadow: 0 0 4.5rem var(--advice-dice-color);
}

@media (max-width: 76.8rem) {  
    .container-advice{
        margin: 2rem;
    }
    .container-advice .divider::after{
        content: url(../Image/pattern-divider-mobile.svg);
    }
    .container-advice .advice{
        font-size: 2rem;
        margin: 0 2rem;
    }
}