
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-align-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}